{% load static %} 
{% load i18n %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <meta name="naver-site-verification" content="a99a4b575097b8023bccc2d6c50f4d70ed0e834c" />
    <title>{% trans "Welcome to GALATEA AI" %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Boldonse&family=Bungee&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Oswald:wght@576&family=Special+Gothic+Expanded+One&family=Sunflower:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/home/home.css' %}">
    <meta property="og:title" content="{% trans 'GALATEA AI' %}" />
    <meta property="og:description" content="{% trans 'Welcome to GALATEA AI - AI 서비스 소개 사이트' %}" />
    <meta property="og:image" content="https://galatea.website/static/img/intro.png">
    <meta property="og:url" content="https://galatea.website" />
    <meta property="og:type" content="website" />
    <meta name="description" content="{% trans 'GALATEA AI - AI 대화형 쳇봇 서비스' %}">
</head>
<body>
<div class="wrapper">
    <div class="logo">        
        <img src="/static/img/logo.png" alt="{% trans 'Galatea Logo' %}" style="width: 100px; height: 100px;">
        <h1>GALATEA</h1>
    </div>

    <div class="container">
        <div class="circle-bg circle-1"></div>
        <div class="circle-bg circle-2"></div>
        <div class="circle-bg circle-3"></div>
        <div class="circle-bg circle-4"></div>
        <div class="circle-bg circle-5">
            <img src="/static/img/logo.png" alt="{% trans 'Galatea Logo' %}">
        </div>

        <div class="welcome-text">{% trans "welcome to" %}</div>
        <div class="galatea-text">GALATEA</div>
    </div>

    <div class="button-container">
        <button class="btn btn-main" onclick="handleClick('main')">{% trans "MAIN" %}</button>
        <button class="btn btn-signup" onclick="handleClick('signup')">{% trans "SIGN UP" %}</button>
        <button class="btn btn-login" onclick="handleClick('login')">{% trans "LOGIN" %}</button>
    </div>
</div>
<script>
    const URL_SIGNUP = "{% url 'register:signup' %}";
    const URL_LOGIN = "{% url 'register:login' %}";
</script>

<script src="{% static 'js/home/home.js' %}"></script>

</body>
</html>