{% load static %} 
{% load i18n %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <meta name="naver-site-verification" content="a99a4b575097b8023bccc2d6c50f4d70ed0e834c" />

    <!-- SEO 최적화된 Title -->
    <title>GALATEA AI | 음성 대화형 챗봇 – 사람처럼 대화하는 AI</title>

    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Boldonse&family=Bungee&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Oswald:wght@576&family=Special+Gothic+Expanded+One&family=Sunflower:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/home/home.css' %}">
    <link rel="icon" href="/static/img/favicon.ico" type="image/x-icon">
<link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">

    <!-- Open Graph (SNS 공유용) -->
    <meta property="og:title" content="GALATEA AI - 음성 대화형 챗봇" />
    <meta property="og:description" content="자연스러운 음성 대화형 AI 챗봇. 고객과 사람처럼 대화하며 상담과 안내를 제공합니다." />
    <meta property="og:image" content="https://galatea.website/static/img/intro.png">
    <meta property="og:url" content="https://galatea.website" />
    <meta property="og:type" content="website" />

    <!-- Meta Description (검색 결과용) -->
    <meta name="description" content="문자만 입력하는 챗봇은 이제 그만! GALATEA AI는 음성 기반 대화형 AI로, 실제 사람처럼 대화 경험을 제공합니다. GALATEA AI는 단순한 챗봇이 아닙니다. 음성으로 사람처럼 대화하며, 자연스러운 상담·안내를 제공합니다. 지금 무료 체험으로 직접 경험해보세요. ">

    <script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Organization",
  "name": "GALATEA AI",
  "url": "https://www.galatea.website",
  "logo": "https://www.galatea.website/static/img/logo.png"
}
</script>

</head>

<body>
<div class="wrapper">
    <div class="logo">        
        <img src="/static/img/logo.png" alt="{% trans 'Galatea Logo' %}" style="width: 100px; height: 100px;">
        <h1>GALATEA</h1>
    </div>

    <div class="container">
        <div class="circle-bg circle-1"></div>
        <div class="circle-bg circle-2"></div>
        <div class="circle-bg circle-3"></div>
        <div class="circle-bg circle-4"></div>
        <div class="circle-bg circle-5">
            <img src="/static/img/logo.png" alt="{% trans 'Galatea Logo' %}">
        </div>

        <div class="welcome-text">{% trans "welcome to" %}</div>
        <div class="galatea-text">GALATEA</div>
    </div>

    <div class="button-container">
        <button class="btn btn-main" onclick="handleClick('main')">{% trans "MAIN" %}</button>
        <button class="btn btn-signup" onclick="handleClick('signup')">{% trans "SIGN UP" %}</button>
        <button class="btn btn-login" onclick="handleClick('login')">{% trans "LOGIN" %}</button>
    </div>
</div>
<script>
    const URL_SIGNUP = "{% url 'register:signup' %}";
    const URL_LOGIN = "{% url 'register:login' %}";
</script>

<script src="{% static 'js/home/home.js' %}"></script>

</body>
</html>