Django==5.2.4
PyMySQL
gunicorn
python-dotenv 
asgiref     
django-extensions
openai
elevenlabs
google-auth==2.23.0
google-auth-oauthlib==1.0.0
google-auth-httplib2==0.1.1
django-allauth
django-modeltranslation
djangorestframework
mysqlclient
Pillow
requests
langchain
langchain-openai
langchain-community