{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% trans "FAQ - GALATEA" %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/helpdesk/FAQ.css' %}">
</head>

<style>

  
</style>
<body>

<header>
    {% if not user.is_authenticated %}
        {% include "common/notLoginHeader.html" %}
    {% else %}
        {% include "common/loginHeader.html" %}
    {% endif %}
</header>

<main class="faq-page">
    <h1>FAQ</h1>

{% for faq in faq_list %}
<div class="faq-item">
    <button class="faq-question">Q{{ forloop.counter }}. {{ faq.title }}</button>
    <div class="faq-answer">
        <p>{{ faq.content }}</p>
        {% if faq.faq_img %}
        <img src="{{ faq.faq_img.url }}" alt="">
        {% endif %}
    </div>
</div>
{% endfor %}




</main>

<script src="{% static 'js/helpdesk/FAQ.js' %}">
</script>

</body>
</html>
