{% load static %} 
{% load i18n %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% trans "GALATEA - Chat with Celebrities" %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700;900&family=Roboto:wght@400;700&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/distribute/distribute.css' %}">

    <link rel="stylesheet" href="{% static 'css/home/main.css'%}">
    <script src="{% static 'js/home/main.js' %}"></script>
</head>

<body>

    <!-- 배경 원들 -->
    <div class="circle-bg circle-1"></div>

    <!-- 헤더 -->
    <header>
        {% if not user.is_authenticated %}
            {% include "common/notLoginHeader.html" %}
        {% else %}
            {% include "common/loginHeader.html" %}
        {% endif %}
    </header>



    
</body>
</html>