{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% trans "FAQ - GALATEA" %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/faq.css' %}">
    <link rel="stylesheet" href="{% static 'css/helpdesk/prompt_share_detail.css' %}">
</head>

<body>

<header>
    {% if not user.is_authenticated %}
        {% include "common/notLoginHeader.html" %}
    {% else %}
        {% include "common/loginHeader.html" %}
    {% endif %}
</header>

<main class="faq-page">
    <p>{{ prompt.user.username }}</p>
    <p>{{ prompt.prompt_title }}</p>
    <p>{{ prompt.prompt }}</p>
    <p>{{ prompt.prompt_type }}</p>


{% if request.user == prompt.user or request.user.is_superuser %}
    <a href="{% url 'helpdesk:prompt_share_delete' prompt.id %}">삭제</a>
    <a href="{% url 'helpdesk:prompt_share_update' prompt.id %}">수정</a>
{% endif %}



</main>

<script src="{% static 'js/helpdesk/prompt_share_detail.js' %}">

</script>

</body>
</html>
