{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
<!-- Favicon 설정 -->
<link rel="icon" href="/static/img/favicon.ico" type="image/x-icon">
<link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% trans "FAQ - GALATEA" %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/faq.css' %}">
    <link rel="stylesheet" href="{% static 'css/helpdesk/prompt_share_update.css' %}">
        <!-- Open Graph (SNS 공유용) -->
    <meta property="og:title" content="GALATEA AI - 음성 대화형 챗봇" />
    <meta property="og:description" content="자연스러운 음성 대화형 AI 챗봇. 고객과 사람처럼 대화하며 상담과 안내를 제공합니다." />
    <meta property="og:image" content="https://galatea.website/static/img/intro2.png">
    <meta property="og:url" content="https://galatea.website" />
    <meta property="og:type" content="website" />

    <!-- Meta Description (검색 결과용) -->
    <meta name="description" content="문자만 입력하는 챗봇은 이제 그만! GALATEA AI는 음성 기반 대화형 AI로, 실제 사람처럼 대화 경험을 제공합니다. GALATEA AI는 단순한 챗봇이 아닙니다. 음성으로 사람처럼 대화하며, 자연스러운 상담·안내를 제공합니다. 지금 무료 체험으로 직접 경험해보세요. ">

    <script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Organization",
  "name": "GALATEA AI",
  "url": "https://www.galatea.website",
  "logo": "https://www.galatea.website/static/img/logo.png"
}
</script>

</head>

<style>



</style>
<body>

<header>
    {% if not user.is_authenticated %}
        {% include "common/notLoginHeader.html" %}
    {% else %}
        {% include "common/loginHeader.html" %}
    {% endif %}
</header>

<main class="faq-page">
        <h1>{% trans "프롬프트 수정" %}</h1>

        <form method="POST">
            {% csrf_token %}
            
            <!-- 폼 렌더링 -->
            {{ form.as_p }}
            
            <button type="submit">{% trans "저장" %}</button>
            <a href="{% url 'helpdesk:prompt_share_detail' prompt.id %}">{% trans "취소" %}</a>
        </form>

</main>

<script src="{% static 'js/prompt_share_update.js' %}">

</script>

</body>
</html>
