{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% trans "FAQ - GALATEA" %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/faq.css' %}">
    <link rel="stylesheet" href="{% static 'css/helpdesk/prompt_share_update.css' %}">
</head>

<style>



</style>
<body>

<header>
    {% if not user.is_authenticated %}
        {% include "common/notLoginHeader.html" %}
    {% else %}
        {% include "common/loginHeader.html" %}
    {% endif %}
</header>

<main class="faq-page">
        <h1>{% trans "프롬프트 수정" %}</h1>

        <form method="POST">
            {% csrf_token %}
            
            <!-- 폼 렌더링 -->
            {{ form.as_p }}
            
            <button type="submit">{% trans "저장" %}</button>
            <a href="{% url 'helpdesk:prompt_share_detail' prompt.id %}">{% trans "취소" %}</a>
        </form>

</main>

<script src="{% static 'js/prompt_share_update.js' %}">

</script>

</body>
</html>
