{% load humanize %}
{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <title>GALATEA {% trans "가격표" %}</title>
    <link rel="stylesheet" href="{% static 'css/payment/payment.css' %}?v=5" />
</head>
<body>

        <!-- 헤더 -->
    <header>
        {% if not user.is_authenticated %}
            {% include "common/notLoginHeader.html" %}
        {% else %}
            {% include "common/loginHeader.html" %}
        {% endif %}
    </header>
<h1>{{ plan.rankname }} {% trans "결제" %} - {{ plan.price }}{% trans "원" %}</h1>

{% for pg in available_pgs %}
<button data-price="{{ plan.price }}" data-rank-id="{{ plan.id }}" onclick="requestPay('{{ pg }}', this)" style="background-image: {{ pg.payment_image.url }};">
    {{ pg|title }} {{ plan.price }}{% trans "원" %}
</button>

{% endfor %}


<script src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>

<script>
const IMP = window.IMP;
IMP.init("imp28654630"); // 테스트 가맹점 코드

function requestPay(pg, btn) {
    const VERIFY_PAYMENT_URL = "{% url 'payment:verify_payment' %}";
    const merchant_uid = "order_" + new Date().getTime();
    const amount = parseInt(btn.getAttribute("data-price"));
    const rank_id = btn.getAttribute("data-rank-id");

    const data = {
        pg: pg,
        pay_method: "card",
        // customer_uid: "user_{{ request.user.id }}",
        merchant_uid: merchant_uid,
        name: "GALATEA {% trans '등급 결제' %}",
        amount: amount,
        buyer_email: "{{ request.user.email }}",
        buyer_name: "{{ request.user.get_full_name|default:request.user.username }}",
        buyer_tel: "{{ request.user.profile.phone_number|default:'010-3161-5706' }}",
        m_redirect_url: "https://galatea.website/payment/complete/" 
    };

    IMP.request_pay(data, function(rsp) {
        if (rsp.success) {
            fetch(`${VERIFY_PAYMENT_URL}?imp_uid=${rsp.imp_uid}&merchant_uid=${merchant_uid}&rank_id=${rank_id}`)
            .then(res => res.json())
            .then(result => {
                if(result.status){
                    alert(`{% trans "결제 성공! 상태:" %} ${result.status}`);
                    window.location.href = "/payment/complete/";
                } else {
                    alert("{% trans '결제 처리 실패:' %} " + JSON.stringify(result));
                }
            });
        } else {
            alert("{% trans '결제 실패:' %} " + rsp.error_msg);
        }
    });
}
</script>
</body>
</html>